<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="UTF-8">
  <title>OYNX Tokens - Sākums</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Laipni lūdzam OYNX Token projektā</h1>
    <nav>
      <a href="/" class="active">Sākums</a>
      <a href="/about">Par</a>
      <a href="/claim">Pieprasīt</a>
      <a href="/security">Drošība</a>
      <a href="/technologie">Tehnoloģija</a>
    </nav>
  </header>

  <main class="container">
    <section class="hero">
      <h2>Tavs ceļš uz Solana ekosistēmu</h2>
      <p>Saņem bezmaksas devnet tokenus un uzzini, kā darbojas OYNX.</p>
      <a  href="/claim" class="btn">Pieprasīt tokenus</a>
      <img style="width: 200px; height: auto; align-items: left;"src="https://sdmntpritalynorth.oaiusercontent.com/files/00000000-f2d0-6246-956d-569b8b4b7a8e/raw?se=2025-05-13T13%3A24%3A08Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=b32d65cd-c8f1-46fb-90df-c208671889d4&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-13T04%3A55%3A58Z&ske=2025-05-14T04%3A55%3A58Z&sks=b&skv=2024-08-04&sig=vCYJj3J04t9%2BvLEUEOhg3IZLhlVkGW1UGpqOwhvHHbo%3D" alt="OYNX Baneris">
    </section>

    <section class="features">
      <h2>Kāpēc izvēlēties OYNX?</h2>
      <div class="grid">
        <div class="feature">
          <h3>Nav komisijas maksa!</h3>
        </div>
        <div class="feature">
          <h3>Drošība pirmajā vietā</h3>
          <p>Projektēts ar drošības prioritāti, lai nodrošinātu uzticamu lietošanu.</p>
        </div>
        <div class="feature">
          <h3>Piemērots devnet tīklam</h3>
          <p>Ideāli piemērots izstrādātājiem un testētājiem tokenu eksperimentiem. Ekspermientāls un par brīvu!</p>
        </div>
      </div>
    </section>

    <section class="about-preview">
      <h2>Kas ir OYNX?</h2>
      <p>OYNX ir prototipa tokens, kas izstrādāts, lai demonstrētu decentralizēto ekosistēmu potenciālu uz Solana tīkla. Neatkarīgi no tā, vai esi izstrādātājs, testētājs vai vienkārši interesents, OYNX sniedz iespēju viegli sākt savu ceļu blokķēdē.</p>
      <a href="/about" class="btn">Uzzināt vairāk</a>
    </section>

    <section class="faq">
      <h2>Biežāk uzdotie jautājumi</h2>
      <div class="faq-item">
        <h4>Vai OYNX ir īsta nauda?</h4>
        <p>Nē. OYNX ir devnet tokens, kas paredzēts tikai izstrādei un testēšanai.</p>
      </div>
      <div class="faq-item">
        <h4>Vai man vajag maku?</h4>
        <p>Jā. Tev būs nepieciešams Solana maks (piemēram, Phantom), kas pieslēgts Devnet tīklam, lai pieprasītu un apskatītu OYNX tokenus.</p>
      </div>
      <div class="faq-item">
        <h4>Kā es varu saņemt OYNX?</h4>
        <p>Noklikšķini uz “Pieprasīt tokenus” pogas un izpildi norādījumus.</p>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 OYNX projekts. Rihards Jauniņš</p>
  </footer>
</body>
</html>
